body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    border: 1px solid #d9d9d9;
}

td input {
    width: 100%;
    border: 0;
    font-size: 16px;
}

td button {
    width: 50px;
    height: 28px;
    font-size: 14px;
    line-height: 14px;
}

th {
    background-color: #f2f2f2;
}

input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

textarea {
    width: calc(100% - 10px);
    height: 400px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    resize: vertical;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.button-container button {
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #40a9ff;
}

.button-container button:disabled {
    background-color: #ccc;
    color: #999;
}

.button-container span {
    padding-right: 20px;
}

.back-link {
    display: inline-block;
    margin-left: 10px;
    font-size: 1em;
    color: #888;
    text-decoration: none;
}

.back-link:hover {
    color: #000;
}

.listName {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    border: 0;
    padding: 2px;
    margin: 10px 0;
    width: 6em;
    max-width: 93%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
}

.footer a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #000;
}

.error-message {
    margin-top: 10px;
    text-align: right;
    color: red;
}

.hide {
    display: none;
}